You received a new message from
=link_to "Mydan Services Inc.", 'https://mydan.herokuapp.com/'
%br
%br
  ="〈Name〉 #{@inquiry.name}"
%br
%br
  ="〈Tel〉 #{@inquiry.tel}"
%br
%br
  ="〈Email〉 #{@inquiry.email}"
%br
%br
  ="〈text〉 #{@inquiry.text}"
