/* .message-bar {
  position: relative;
  margin-bottom: 0;
  top: 105px;
  z-index: 997;
} */

/*--------------------------------------------------------------
# Message Bar
--------------------------------------------------------------*/
#message {
  transition: all 0.5s;
  z-index: 980;
  top: 105px;
  margin-bottom: 0;
}

#message.message-scrolled {
  top: -40px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box #residential, .services .icon-box #commercial, .services .icon-box #industrial {
  /* height: 150px; */
  /* position: absolute; */
  /* line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  top: -180px;
  transition: all ease-in-out 0.3s; */
}
.services .icon-box:hover #industrial, .services .icon-box #commercial {
  /* color: #fff;
  top: 180px; */
}
