/* .message-bar {
  position: relative;
  margin-bottom: 0;
  top: 105px;
  z-index: 997;
} */

/*--------------------------------------------------------------
# Message Bar
--------------------------------------------------------------*/
#message {
  transition: all 0.5s;
  z-index: 980;
  top: 105px;
  margin-bottom: 0;
}

#message.message-scrolled {
  top: -40px;
}
