/ ======= Footer =======
%footer#footer
  .footer-top
    .container
      .row
        -# .col-lg-4.col-md-6
        .footer-info
          %h3 Mydan Services Inc.
          %p
            10-8707 Dufferin St., Suite 368
            %br/
            Vaughan, ON, L4J 0A6
            %br/
            %br/
            %strong Phone:
            +1 416 418 5374
            %br/
            %strong Email:
            miguel@mydanservices.com
            %br/
          .social-links.mt-3
            %a.twitter{:href => "#"}
              %i.bx.bxl-twitter
            %a.facebook{:href => "#"}
              %i.bx.bxl-facebook
            %a.instagram{:href => "#"}
              %i.bx.bxl-instagram
            %a.google-plus{:href => "#"}
              %i.bx.bxl-skype
            %a.linkedin{:href => "#"}
              %i.bx.bxl-linkedin
        -# .col-lg-2.col-md-6.footer-links
        -#   %h4 Useful Links
        -#   %ul
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Home
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} About us
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Services
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Terms of service
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Privacy policy
        -# .col-lg-2.col-md-6.footer-links
        -#   %h4 Our Services <- ??
        -#   %ul
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Web Design
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Web Development
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Product Management
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Marketing
        -#     %li
        -#       %i.bx.bx-chevron-right
        -#       %a{:href => "#"} Graphic Design
        -# .col-lg-4.col-md-6.footer-newsletter
        -#   %h4 Our Newsletter
        -#   %p Tamen quem nulla quae legam multos aute sint culpa legam noster magna
        -#   %form{:action => "", :method => "post"}
        -#     %input{:name => "email", :type => "email"}/
        -#     %input{:type => "submit", :value => "Subscribe"}/
  .container
    .copyright
      \© Copyright
      = succeed "." do
        %strong
          %span Day
    .credits
      / All the links in the footer should remain intact.
      / You can delete the links only if you purchased the pro version.
      / Licensing information: https://bootstrapmade.com/license/
      / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
      Designed by
      %a{:href => "https://bootstrapmade.com/"} BootstrapMade
/ End Footer
